*/{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ADD8E5;
  font-family: 'Lobster', cursive;
}

#title{
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.container{
  text-align:center;
  margin-top: 70px;
}

.card{
  display: inline-block;
  height: 250px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 20px;
}

.bg-pattern{
  background-image: url("../img/pattern.png");
  background-size: contain;
}

.scoperta{
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

footer{
  text-align: center;
  padding-top: 40px;
}

.baloon:hover .cuore{
  position: relative;
  display: block;

}

.cycle{

}

.crusie{

}

.tractor{

}

.submarine{

}
.tram{

}

.cuore{
  position: absolute;
  bottom: 0;
  left: 160px;
  font-size: 80px;
  color: red;
  display: none;
}
